<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/reload/reload.js"></script>
    <script src="/javascripts/entries.js"></script>
</head>
<body>
    {{{body}}}
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCsFBoU1TMaJnlAvzmssr5ox92nBFz5b9M",
            authDomain: "who-dare-wins-403a8.firebaseapp.com",
            databaseURL: "https://who-dare-wins-403a8.firebaseio.com",
            projectId: "who-dare-wins-403a8",
            storageBucket: "who-dare-wins-403a8.appspot.com",
            messagingSenderId: "623977001074"
        };
        firebase.initializeApp(config);
    </script>
</body>
</html>
